# Technical writers will be added as reviewers on markdown changes.
*.md @salesforcecli/cli-docs

packages/mcp/ @salesforcecli/dx-mcp-owners
packages/mcp-provider-api/ @salesforcecli/dx-mcp-owners
packages/mcp-provider-dx-core/ @salesforcecli/dx-mcp-owners
packages/mcp-test-client/ @salesforcecli/dx-mcp-owners
packages/EXAMPLE-MCP-PROVIDER/ @salesforcecli/dx-mcp-owners

packages/mcp-provider-code-analyzer/ @salesforcecli/code-analyzer-mcp-provider
packages/mcp-provider-devops/ @salesforcecli/devops-mcp-provider


# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source 5D002
